
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
}
.left{
    width: 25vw;
    background-color: rgb(0, 0, 0);
    
    
}
.right{
    width: 75vw;
    
    position: relative;
}
body{
    background-color: black;
    font-family: "Roboto";
    
}
.home{
    
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    
    
}
.home ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    padding-top: 20px;
    font-size: 17px;
    filter: invert(1);
    
    
}
.home ul li img{
    width: 25px;
    
}
#spo
{
    filter:invert(1);
    
}

.lib img{
    width: 25px;
}
.lib{
    filter:invert(1);
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 17px;
   

    

}
.library{
    padding-left: 20px;
    margin-left:  5px;
    margin-top: 7px;
    border-radius: 5px;
    height: 67vh;
    position: relative;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    margin-right: 5px;
}
.tags a{
    text-decoration: none;
    margin-right: 20px;
  padding-top: 20px;
    
    
}
.tags a:link{
    color: white;
    font-size: 12px;
}
.tags a:visited{
    color: white;
}
.tags{
    position: absolute;
    bottom: 20px;
    
}
.f2{
    margin-top: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    align-items: center;
    
}
#b1
{
    background-color: #0c0c0c; 
    color: rgb(150, 150, 150);
    font-size:17px ;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 13px;
    padding-right: 30px;
    cursor: pointer;
}
#b2{
    font-size:17px ;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 13px;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;

}
.right{
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.card{
    width: 175px;
    background-color:#161616 ;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.card h4{
    margin-top: 6px;
}
.card p{
    margin-top: 6px;
    font-size: 14px;
}
.spo_playlist{
    padding: 10px;
    min-height: 85vh;
}
.spo_playlist h2{
    padding-left: 10px;
    padding-bottom: 10px;
}

.play{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 135px;
    right: 10px;
    opacity:var(--a) ;
    transition: all 0.3s ease-out;
    
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 65vh;
    overflow:auto ;
    overflow-x: hidden;
}
.playbar{
    position: absolute;
    bottom: 30px;
    background-color:rgb(226, 224, 224); 
    width:70%;
    padding: 7px;
    position: fixed;
    filter: invert();
    border-radius: 15px;
  height: 60px;
}
.playbuttons{
    display: flex;
    gap: 10px;
    margin: 4px;
    position: fixed;
    left:45%;
    
    
}
.songlist ul li{
    list-style-type: decimal;
    filter: invert(1);
    padding: 5px 0px;
    font-size: 12px;
    display: flex;
justify-content: space-between;
gap: 10px;
cursor: pointer;

    
    border: 0.1px solid rgb(148, 147, 147);
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #e0dfdf;
}
.playnow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info{
    font-size: 12px;
    width: 400px;
}
.playnow span{
    font-size: 14px;
}
.songlist{
    height: 50vh;
    overflow: scroll;overflow-x: hidden;
    padding-right: 15px;
    margin-top: 20px;

    
}
.seekbar{
    width: 98%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    cursor:pointer;
}
.playbuttons img{
    width: 30px;
    cursor: pointer;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 13px;
    position: absolute;
    bottom: -4px;
    left:0%;
    transition: left 0.2s;
    
}
.abovebar{
    display:flex;
    justify-content: space-between;
}
.songinfo, .songduration{
    color: black;
    font-size: 13px;
    padding: 10px;
}
.hamburger{
    filter: invert(1);
    display: none;
}
.side{
    display: flex;
    gap: 15px;
  }
  .close img{
    filter: invert();
    position: absolute;
    top: 33px;
    right: 33px;
    width: 40px;
    
  }
  .card:hover{
    --a:1;
    background-color: #222222;
    transition: all 0.2s ease-out;
  }
  #b1:hover{
    color: white;
    scale: 1.03;
    transition: all 0.25s ease-out;
  }
  #b2:hover{
    scale: 1.03;
    transition: all 0.25s ease-out;
  }
  #play{
    width: 35px;
  }
@media (max-width: 1100px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.7s;
        z-index: 1;
        width: 375px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 88vw;
        min-height: 125px;
        
    }
    .seekbar{
        width: 95%;
        margin-top: 40px;
        margin-bottom: 5px;
    }
    .hamburger{
        display: block;
    }
    .songlist{
        overflow-y: auto;
        overflow-x: auto;
    }
    .cardContainer{
        justify-content: center;
        gap: 10px;
        
    }
    .card{
        width: 70vw;
        
    }
    .right{
        margin: 0;
    }
    .spo_playlist{
        height: 90vh;
    }
    .header{
        position: sticky;
    }
    .abovebar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .library{
       min-height: 76vh;
        margin-bottom: 5px;
    }
    .playbuttons{
        position: static;
    }
    .play{
        top: 200px;

    }
    .pb{
        display: flex;
        justify-content: center;
    }
    
    
  }
 